<div class="row">
    <div class="col-md-8 offset-md-2">
        <form #saveForm="ngForm" (ngSubmit)="save(saveForm)">

            <div class="mb-3">
                <label for="userName" class="form-label">UserName</label>
                <input #userNameInput="ngModel" class="form-control" type="text" name="userName"
                    [ngModel]="loginModel.userName" required>
            </div>
            <div class="alert alert-danger"
                *ngIf="userNameInput.invalid && (userNameInput.dirty || userNameInput.touched)">
                <small *ngIf="userNameInput.errors?.['required']">Kullanıcı adı alanı zorunludur</small>
            </div>
            <div class="alert alert-info">
                <ul>
                    <li>Valid :{{userNameInput.valid}}</li>
                    <li>Invalid :{{userNameInput.invalid}}</li>
                    <li>Errors :{{userNameInput.errors | json}}</li>
                    <li>Dirty :{{userNameInput.dirty}}</li>
                    <li>Pristine :{{userNameInput.pristine}}</li>
                    <li>Touched :{{userNameInput.touched}}</li>
                    <li>UnTouched :{{userNameInput.untouched}}</li>
                    <li>value :{{userNameInput.value}}</li>
                </ul>

            </div>


            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input class="form-control"
                [ngClass]="{invalidRed:isValid(passwordInput.control),validGreen:isSuccessValid(passwordInput.control)}"
                #passwordInput="ngModel" type="password" name="password2" [ngModel]="loginModel.password" required
                minlength="4">
            </div>

            <div class="alert alert-danger" *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                <small  *ngIf="passwordInput.errors?.['required']">password alanı zorunludur</small>
                <small  *ngIf="passwordInput.errors?.['minlength']">password alanı en az 4 karakter
                    olabilir.</small>

            </div>
            <div class="alert alert-info">
                <ul>
                    <li>Valid :{{passwordInput.valid}}</li>
                    <li>Invalid :{{passwordInput.invalid}}</li>
                    <li>Errors :{{passwordInput.errors | json}}</li>
                    <li>Dirty :{{passwordInput.dirty}}</li>
                    <li>Pristine :{{passwordInput.pristine}}</li>
                    <li>Touched :{{passwordInput.touched}}</li>
                    <li>UnTouched :{{passwordInput.untouched}}</li>
                    <li>value :{{passwordInput.value}}</li>
                </ul>

            </div>
         

            <div class="form-check">
                <input name="rememberme" class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [ngModel]="loginModel.rememberMe">
                <label class="form-check-label" for="flexCheckDefault">
                    Beni hatırla
                </label>
              </div>





            <label class="form-label" for="country2">Ülke :</label>
            <select class="form-select" (ngModelChange)="countryChange($event)" name="country2" [ngModel]="loginModel.country">

                <option *ngFor="let item of countryMenu" value="{{item.value}}">{{item.text}}</option>

            </select>
            <br>

            <div *ngFor="let item  of genderMenu">
                    <div class="form-check">
                        <input [ngModel]="loginModel.gender" (ngModelChange)="genderChange($event)" class="form-check-input" type="radio" name="gender" id="flexRadioDefault1"  [value]="item.value">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{item.text}}
                        </label>
                      </div>
            </div>


        
            <!-- Manuel Radio Buttons Example -->
            <!-- <input [ngModel]="loginModel.gender" type="radio" name="gender" value="1" checked > Erkek
    <input [ngModel]="loginModel.gender"  type="radio" name="gender" value="2"> Kadın -->
            <br>
            <button class="btn btn-primary" type="submit">Giriş</button>

            <!-- Change Event Example -->
            <!-- <select #myselect (change)="onChange(myselect.value)" name="selectManuel">
    
        <option value="1">Select 1</option>
        <option value="2">Select 2</option>
        <option value="3">Select 3</option>
    </select> -->
        </form>

    </div>


</div>