<div class="list-group">
    <a routerLink="/" class="list-group-item list-group-item-action"  [ngClass]="{'active':isHomePage()}" >
      Anasayfa
    </a>
    <a routerLinkActive="active" routerLink="/hakkimizda" class="list-group-item list-group-item-action">Hakkımızda</a>
    <a routerLinkActive="active" routerLink="/galeri"  class="list-group-item list-group-item-action">Galeri</a>
    <a routerLinkActive="active" routerLink="/iletisim" class="list-group-item list-group-item-action">İletişim</a>
  
  </div>